.div {
  width: 100vh;
  height: 70vh;
  background-color: white;
  margin-top: 100px;
  margin-left: 370px;
  display: grid;
  grid-template-columns: 20% 1fr 15%;
  grid-template-rows: 60px 1fr 60px;
  row-gap: 10px;
  column-gap: 10px;
}
.header {
  background-color: yellow;
  grid-column: 1/4;
}
.nav {
  background-color: yellow;
  grid-column: 1/1;
  grid-row: 2/3;
}
.article {
  background-color: yellow;
  grid-column: 2/3;
}
.ads {
  background-color: yellow;
  grid-column: 3/4;
}
.footer {
  background-color: yellow;
  grid-column: 1/4;
}
.th {
  display: flex;
  justify-content: space-around;
}
