body {
  margin: 0;
}
.slika {
  width: 90px;
  height: 50px;
  border-radius: 15px;
  margin-right: ;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;

  background-color: #06353e;
}
h1 {
  font-size: 35px;
  color: white;
  text-align: left;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
li {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s all ease;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
li:hover {
  background-color: rgba(19, 159, 150, 0.512);
}
.struktura {
  width: 100%;
  height: 150px;
  background-color: aquamarine;
}
.klinika {
  width: 100%;
  height: 400px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
h1 {
  font-size: 25px;
  color: rgb(14, 14, 41);
  text-align: left;
  margin-left: 21px;
  margin right: 21px;
}
p{
  margin-left: 21px;
  margin right: 21px;
}
.slika1{
  width: 550px;
  height: 370px;
  float: right;
}
.opis{

background-color: white;
}
p{
  display: block;
  margin: 0 0 1.1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    color: #5f727f;
    line-height: 25px;
    font-size: 16px;
    font-family: 'Arial';
    box-sizing: border-box;
  
}
.zakazivanje{
  
  
  background-color: white;
  margin: auto;
  width: 60%;
  border: 3px solid #c7c9c5;
  padding: 100px;
}
p{
  font-family:'Arial';
  
}
.metode{
  width: 100%;
  height: 600px;
  background-color: rgb(245, 245, 189);
}
h1{
  text-align: center;
  color: #06353e;
}
.zelenidiv{
  width: 100%;
  height: 230px;
  background-color: rgb(75, 227, 227);
}
.mapa{
  width: 100%;
  height: 500
  
  px;
}
.mapa{
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
.podaci{
  width: 100%;
  height: 900px;
  background-color: #06173e;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

}
.card1{
  box-sizing: border-box;
  width: 200px;
  height: 100px;

  flex-direction: row-reverse;
  justify-content: center;

}

