body {
  background-color: rgb(26, 25, 25);
}
.glavni {
  background-color: rgb(26, 25, 25);
  width: 800px;
  height: auto;
}
.levi {
  background-color: rgb(50, 49, 49);
  width: 370px;
  height: 400px;
  border: 4px solid white;
  border-radius: 20px;
  float: left;
}
.desni {
  background-color: rgb(50, 49, 49);
  width: 370px;
  height: 400px;
  border: 4px solid white;
  border-radius: 20px;
  float: right;
}
.prvi {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.drugi {
  color: rgb(252, 251, 251);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.slika1 {
  width: 100%;
  height: 190px;
  border-radius: 20px;
}

.slika2 {
  width: 100%;
  height: 190px;
  border-radius: 20px;
}
.slika3 {
  width: 25px;
  height: 25;
  border-radius: 8px;
  padding-left: 30px;
}
p {
  color: white;
  padding-left: 30;
}
