* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

nav {
  width: 100%;
  height: 15%;
  background-color: black;
}
h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}
p {
  margin-left: 30px;
}
.leva {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
  width: 48%;
}
.desna {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 20px;
  float: right;
  width: 48%;
}
.group {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px 0;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
}
.textt {
  width: 50%;
}
.textt1 {
  width: 100%;
}
.group1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: left;
}
.group2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: right;
}
.lab2 {
  width: 50%;
}
.treca {
  clear: left;
  width: 100%;
}
