* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.container {
  width: 100%;
  height: 80vh;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slika {
  width: 390px;
  height: 530;
  display: flex;
}
.form {
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  margin-top: 30px;
  font-style: inherit;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 70%;
  background-color: rgb(248, 248, 242);
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 70%;
  height: 40px;
  border-radius: 5px;
}

button {
  background-color: rgb(38, 127, 223);
  width: 70%;
  height: 40px;
  border-radius: 10px;
}
h2 {
  color: blue;
}
