.nav {
  width: 100%;
  height: 90px;
  background-color: rgb(19, 28, 39);
  position: relative;
}
.logo {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 15px;
  left: 60px;
  font-family: "Brush Script MT", cursive;
}
a {
  text-decoration: none;
  color: white;
}
.list li {
  float: left;
  list-style-type: none;
  margin-left: 50px;
}
.list {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 800px;
}
.slika {
  width: 100%;
  height: 800px;
  position: relative;
}
h1 {
  position: absolute;
  top: 300px;
  left: 560px;
  font-size: 50px;
  color: white;
  z-index: 1;
}
h3 {
  position: absolute;
  top: 400px;
  left: 25%;
  right: 25%;
  font-size: 30px;
  color: white;
  z-index: 1;
  text-align: center;
}
button {
  width: 200px;
  height: 60px;
  position: absolute;
  top: 600px;
  left: 45%;
  border: none;
  background-color: #4c6e97;
}
